<html>
<head>
<link type="text/css" rel="stylesheet" href="/static/ingobert/ingobert.css" />
<link type="text/css" rel="stylesheet" href="/static/ingobert/grid.css" />
<title>
Ingobert: 2-Column Comparison
</title>
</head>
<body>
<h3 style="text-align:center">{{page_head|safe}}</h3>
<div class="row">
<div class="column grid_6">
<h4 style="text-align:center">{{column_1_head}}</h4>
{{column_1_body|safe}}
</div>
<div class="column grid_6">
<h4 style="text-align:center">{{column_2_head}}</h4>
{{column_2_body|safe}}
</div>
</div>
</body>
</html>

