<html>
<head>
<link type="text/css" rel="stylesheet" href="/static/ingobert/ingobert.css" />
<link type="text/css" rel="stylesheet" href="/static/ingobert/grid.css" />
<title>
Ingobert2: CSRF Test
</title>
</head>
<body>
<div>
<form action="/2column/" method="post">{% csrf_token %}
<input name="project" type="text" value="Gratian">
<input name="label" type="text" value="D. 63, d.p.c. 34">
<input name="column_1" type="text" value="Aa">
<input name="column_2" type="text" value="Bc">
<input type="submit" value="Submit">
</form>
</div>
<div>
<form action="/2column/" method="post">{% csrf_token %}
<input name="project" type="text" value="Capitulare Carisiacense">
<input name="label" type="text" value="cap. 1">
<input name="column_1" type="text" value="4">
<input name="column_2" type="text" value="5">
<input type="submit" value="Submit">
</form>
</div>
</body>
</html>

