<html>
<head>
<link type="text/css" rel="stylesheet" href="/static/ingobert/ingobert.css" />
<link type="text/css" rel="stylesheet" href="/static/ingobert/grid.css" />
<title>
Ingobert: Front Page
</title>
</head>
<body>
<div class="row">
<div class="column grid_4">
<h3 style="text-align:center">2-Column Comparison</h3>
<form action="/ingobert/2column/" method="post">{% csrf_token %}
<input name="project" type="hidden" value="Capitulare Carisiacense">
<h4>Select capitulum:</h4>
<select name="label">
<option value="cap. 1">Capitulare Carisiacense, cap. 1</option>
<option value="cap. 2">Capitulare Carisiacense, cap. 2</option>
<option value="cap. 3">Capitulare Carisiacense, cap. 3</option>
<option value="cap. 4">Capitulare Carisiacense, cap. 4</option>
<option value="cap. 5">Capitulare Carisiacense, cap. 5</option>
<option value="cap. 6">Capitulare Carisiacense, cap. 6</option>
<option value="cap. 7">Capitulare Carisiacense, cap. 7</option>
<option value="cap. 8">Capitulare Carisiacense, cap. 8</option>
<option value="cap. 9">Capitulare Carisiacense, cap. 9</option>
<option value="cap. 10">Capitulare Carisiacense, cap. 10</option>
<option value="cap. 11">Capitulare Carisiacense, cap. 11</option>
<option value="cap. 12">Capitulare Carisiacense, cap. 12</option>
</select>
<br>
<h4>Select left column source:</h4>
<select name="column_1">
<option value="4">Vat. lat. 4982</option>
<option value="5">Capitulare Carisiacense, 98r-102r</option>
<option value="5bis">Capitulare Carisiacense, 102v-104v</option>
<option value="Sirmond">1623 Sirmond Edition</option>
<option value="Boretius">1883 Boretius Edition</option>
</select>
<br>
<h4>Select right column source:</h4>
<select name="column_2">
<option value="4">Vat. lat. 4982</option>
<option value="5">Capitulare Carisiacense, 98r-102r</option>
<option value="5bis">Capitulare Carisiacense, 102v-104v</option>
<option value="Sirmond">1623 Sirmond Edition</option>
<option selected value="Boretius">1883 Boretius Edition</option>
</select>
<br>
<h4>Submit:</h4>
<input type="submit" value="Submit">
</form>
</div>
<div class="column grid_4" style="background-color: #f0f0f0">
<h3 style="text-align:center">4-Column Comparison</h3>
<form action="/ingobert/4column/" method="post">{% csrf_token %}
<input name="project" type="hidden" value="Capitulare Carisiacense">
<h4>Select capitulum:</h4>
<select name="label">
<option value="cap. 1">Capitulare Carisiacense, cap. 1</option>
<option value="cap. 2">Capitulare Carisiacense, cap. 2</option>
<option value="cap. 3">Capitulare Carisiacense, cap. 3</option>
<option value="cap. 4">Capitulare Carisiacense, cap. 4</option>
<option value="cap. 5">Capitulare Carisiacense, cap. 5</option>
<option value="cap. 6">Capitulare Carisiacense, cap. 6</option>
<option value="cap. 7">Capitulare Carisiacense, cap. 7</option>
<option value="cap. 8">Capitulare Carisiacense, cap. 8</option>
<option value="cap. 9">Capitulare Carisiacense, cap. 9</option>
<option value="cap. 10">Capitulare Carisiacense, cap. 10</option>
<option value="cap. 11">Capitulare Carisiacense, cap. 11</option>
<option value="cap. 12">Capitulare Carisiacense, cap. 12</option>
</select>
<br>
<h4>Select comparison source:</h4>
<select name="comparison">
<option value="5">Capitulare Carisiacense, 98r-102r</option>
<option value="5bis">Capitulare Carisiacense, 102v-104v</option>
<option value="Sirmond">1623 Sirmond Edition</option>
<option selected value="Boretius">1883 Boretius Edition</option>
</select>
<br>
<h4>Submit:</h4>
<input type="submit" value="Submit">
</form>
</div>
<div class="column grid_4">
<p></p>
</div>
</div>
<div class="row">
<div class="column grid_4" style="background-color: #f0f0f0">
<h3 style="text-align:center">2-Column Comparison</h3>
<form action="/ingobert/2column/" method="post">{% csrf_token %}
<input name="project" type="hidden" value="Gratian">
<h4>Select case statement:</h4>
<select name="label">
<option value="C. 1, d.init.">C. 1, d.init.</option>
<option value="C. 2, d.init.">C. 2, d.init.</option>
<option value="C. 3, d.init.">C. 3, d.init.</option>
<option value="C. 4, d.init.">C. 4, d.init.</option>
<option value="C. 5, d.init.">C. 5, d.init.</option>
<option value="C. 6, d.init.">C. 6, d.init.</option>
<option value="C. 7, d.init.">C. 7, d.init.</option>
<option value="C. 8, d.init.">C. 8, d.init.</option>
<option value="C. 9, d.init.">C. 9, d.init.</option>
<option value="C. 10, d.init.">C. 10, d.init.</option>
<option value="C. 11, d.init.">C. 11, d.init.</option>
<option value="C. 12, d.init.">C. 12, d.init.</option>
<option value="C. 13, d.init.">C. 13, d.init.</option>
<option value="C. 14, d.init.">C. 14, d.init.</option>
<option value="C. 15, d.init.">C. 15, d.init.</option>
<option value="C. 16, d.init.">C. 16, d.init.</option>
<option value="C. 17, d.init.">C. 17, d.init.</option>
<option value="C. 18, d.init.">C. 18, d.init.</option>
<option value="C. 19, d.init.">C. 19, d.init.</option>
<option value="C. 20, d.init.">C. 20, d.init.</option>
<option value="C. 21, d.init.">C. 21, d.init.</option>
<option value="C. 22, d.init.">C. 22, d.init.</option>
<option value="C. 23, d.init.">C. 23, d.init.</option>
<option value="C. 24, d.init.">C. 24, d.init.</option>
<option value="C. 25, d.init.">C. 25, d.init.</option>
<option value="C. 26, d.init.">C. 26, d.init.</option>
<option value="C. 27, d.init.">C. 27, d.init.</option>
<option value="C. 28, d.init.">C. 28, d.init.</option>
<option value="C. 29, d.init.">C. 29, d.init.</option>
<option value="C. 30, d.init.">C. 30, d.init.</option>
<option value="C. 31, d.init.">C. 31, d.init.</option>
<option value="C. 32, d.init.">C. 32, d.init.</option>
<option value="C. 33, d.init.">C. 33, d.init.</option>
<option value="C. 34, d.init.">C. 34, d.init.</option>
<option value="C. 35, d.init.">C. 35, d.init.</option>
<option value="C. 36, d.init.">C. 36, d.init.</option>
</select>
<br>
<h4>Select left column source:</h4>
<select name="column_1">
<option value="Fr.">1879 Friedberg Edition</option>
<option value="1r.">First Recension</option>
<option value="Sg">Sankt Gallen, Stiftsbibliothek 673</option>
</select>
<br>
<h4>Select right column source:</h4>
<select name="column_2">
<option value="Fr.">1879 Friedberg Edition</option>
<option selected value="1r.">First Recension</option>
<option value="Sg">Sankt Gallen, Stiftsbibliothek 673</option>
</select>
<br>
<h4>Submit:</h4>
<input type="submit" value="Submit">
</form>
</div>
<div class="column grid_4">
<h3 style="text-align:center">3-Column Comparison</h3>
<form action="/ingobert/3column/" method="post">{% csrf_token %}
<input name="project" type="hidden" value="Gratian">
<h4>Select case statement:</h4>
<select name="label">
<option value="C. 1, d.init.">C. 1, d.init.</option>
<option value="C. 2, d.init.">C. 2, d.init.</option>
<option value="C. 3, d.init.">C. 3, d.init.</option>
<option value="C. 4, d.init.">C. 4, d.init.</option>
<option value="C. 5, d.init.">C. 5, d.init.</option>
<option value="C. 6, d.init.">C. 6, d.init.</option>
<option value="C. 7, d.init.">C. 7, d.init.</option>
<option value="C. 8, d.init.">C. 8, d.init.</option>
<option value="C. 9, d.init.">C. 9, d.init.</option>
<option value="C. 10, d.init.">C. 10, d.init.</option>
<option value="C. 11, d.init.">C. 11, d.init.</option>
<option value="C. 12, d.init.">C. 12, d.init.</option>
<option value="C. 13, d.init.">C. 13, d.init.</option>
<option value="C. 14, d.init.">C. 14, d.init.</option>
<option value="C. 15, d.init.">C. 15, d.init.</option>
<option value="C. 16, d.init.">C. 16, d.init.</option>
<option value="C. 17, d.init.">C. 17, d.init.</option>
<option value="C. 18, d.init.">C. 18, d.init.</option>
<option value="C. 19, d.init.">C. 19, d.init.</option>
<option value="C. 20, d.init.">C. 20, d.init.</option>
<option value="C. 21, d.init.">C. 21, d.init.</option>
<option value="C. 22, d.init.">C. 22, d.init.</option>
<option value="C. 23, d.init.">C. 23, d.init.</option>
<option value="C. 24, d.init.">C. 24, d.init.</option>
<option value="C. 25, d.init.">C. 25, d.init.</option>
<option value="C. 26, d.init.">C. 26, d.init.</option>
<option value="C. 27, d.init.">C. 27, d.init.</option>
<option value="C. 28, d.init.">C. 28, d.init.</option>
<option value="C. 29, d.init.">C. 29, d.init.</option>
<option value="C. 30, d.init.">C. 30, d.init.</option>
<option value="C. 31, d.init.">C. 31, d.init.</option>
<option value="C. 32, d.init.">C. 32, d.init.</option>
<option value="C. 33, d.init.">C. 33, d.init.</option>
<option value="C. 34, d.init.">C. 34, d.init.</option>
<option value="C. 35, d.init.">C. 35, d.init.</option>
<option value="C. 36, d.init.">C. 36, d.init.</option>
</select>
<br>
<h4>Select comparison source:</h4>
<select name="comparison">
<option value="Fr.">1879 Friedberg Edition</option>
<option value="1r.">First Recension</option>
<option value="Sg">Sankt Gallen, Stiftsbibliothek 673</option>
</select>
<br>
<h4>Submit:</h4>
<input type="submit" value="Submit">
</form>
</div>
<div class="column grid_4" style="background-color: #f0f0f0">
<h3 style="text-align:center"><cite>Decretum</cite> Demo</h3>
<p>
Here is a link to the original demo page comparing the Aa and Bc texts of 
<a href="/ingobert/demo/">Gratian, <cite>Decretum</cite>, D. 63, d.p.c. 34</a>.
</p>
</div>
</div>
</body>
</html>
