<html>
<head>
<link type="text/css" rel="stylesheet" href="/static/ingobert/ingobert.css" />
<link type="text/css" rel="stylesheet" href="/static/ingobert/grid.css" />
<title>
Ingobert: Front Page
</title>
</head>
<body>
<div class="row">
<div class="column grid_4">
<h3 style="text-align:center">2-Column Comparison</h3>
<form action="/2column/" method="post">{% csrf_token %}
<input name="project" type="hidden" value="Beinecke 413">
<h4>Select capitulum:</h4>
<select name="label">
<option value="c. 1">Capitulare Carisiacense, c. 1</option>
<option value="c. 2">Capitulare Carisiacense, c. 2</option>
<option value="c. 3">Capitulare Carisiacense, c. 3</option>
<option value="c. 4">Capitulare Carisiacense, c. 4</option>
<option value="c. 5">Capitulare Carisiacense, c. 5</option>
<option value="c. 6">Capitulare Carisiacense, c. 6</option>
<option value="c. 7">Capitulare Carisiacense, c. 7</option>
<option value="c. 8">Capitulare Carisiacense, c. 8</option>
<option value="c. 9">Capitulare Carisiacense, c. 9</option>
<option value="c. 10">Capitulare Carisiacense, c. 10</option>
<option value="c. 11">Capitulare Carisiacense, c. 11</option>
<option value="c. 12">Capitulare Carisiacense, c. 12</option>
</select>
<br>
<h4>Select left column source:</h4>
<select name="column_1">
<option value="4">Vat. lat. 4982</option>
<option value="5">Beinecke 413, 98r-102r</option>
<option value="5bis">Beinecke 413, 102v-104v</option>
<option value="Sirmond">1623 Sirmond Edition</option>
<option value="Boretius">1883 Boretius Edition</option>
</select>
<br>
<h4>Select right column source:</h4>
<select name="column_2">
<option value="4">Vat. lat. 4982</option>
<option value="5">Beinecke 413, 98r-102r</option>
<option value="5bis">Beinecke 413, 102v-104v</option>
<option value="Sirmond">1623 Sirmond Edition</option>
<option selected value="Boretius">1883 Boretius Edition</option>
</select>
<br>
<h4>Submit:</h4>
<input type="Submit" value="Submit">
</form>
</div>
<div class="column grid_4">
<div style="background-color: #f0f0f0">
<h3 style="text-align:center">4-Column Comparison</h3>
<form action="/capitulary/4column" method="get">
<h4>Select capitulum:</h4>
<select name="chapter">
<option value="1">Capitulare Carisiacense, c. 1</option>
<option value="2">Capitulare Carisiacense, c. 2</option>
<option value="3">Capitulare Carisiacense, c. 3</option>
<option value="4">Capitulare Carisiacense, c. 4</option>
<option value="5">Capitulare Carisiacense, c. 5</option>
<option value="6">Capitulare Carisiacense, c. 6</option>
<option value="7">Capitulare Carisiacense, c. 7</option>
<option value="8">Capitulare Carisiacense, c. 8</option>
<option value="9">Capitulare Carisiacense, c. 9</option>
<option value="10">Capitulare Carisiacense, c. 10</option>
<option value="11">Capitulare Carisiacense, c. 11</option>
<option value="12">Capitulare Carisiacense, c. 12</option>
</select>
<br>
<h4>Select comparison source:</h4>
<select name="comparison">
<option value="4">Vat. lat. 4982</option>
<option value="5">Beinecke 413, 98r-102r</option>
<option value="5bis">Beinecke 413, 102v-104v</option>
<option value="Sirmond">1623 Sirmond Edition</option>
<option selected value="Boretius">1883 Boretius Edition</option>
</select>
<br>
<h4>Submit:</h4>
<input type="Submit" value="Submit">
</form>
</div>
</div>
<div class="column grid_4">
<h3 style="text-align:center"><cite>Decretum</cite> Demo</h3>
<p>
Here is a link to the original demo page comparing the Aa and Bc texts of 
<a href="/demo/">Gratian, <cite>Decretum</cite>, D. 63, d.p.c. 34</a>.
</p>
</div>
</div>
</body>
</html>
